@keyframes ripple2{
14%, 28%, 42%, 56%, 70%, 84%, 98%{background: radial-gradient(rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255),
    rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255),
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255),
    rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255),
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255),
    rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255));}

13%, 27%, 41%, 55%, 69%, 83%, 97%{background: radial-gradient(rgb(0, 183, 255),rgb(130, 183, 255), rgb(120, 183, 255), 
    rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), 
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255),
    rgb(0, 183, 255),rgb(130, 183, 255), rgb(120, 183, 255), 
    rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), 
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255),
    rgb(0, 183, 255),rgb(130, 183, 255), rgb(120, 183, 255), 
    rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), 
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255));}

12%, 26%, 40%, 54%, 68%, 82%, 96%{background: radial-gradient(rgb(10, 183, 255), rgb(0, 183, 255),rgb(130, 183, 255), 
    rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255),
    rgb(10, 183, 255), rgb(0, 183, 255),rgb(130, 183, 255), 
    rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255),
    rgb(10, 183, 255), rgb(0, 183, 255),rgb(130, 183, 255), 
    rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255));}

11%, 25%, 39%, 53%, 67%, 81%, 95%{background: radial-gradient(rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255),
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), 
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255),
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255),
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), 
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255),
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255),
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), 
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255));}

10%, 24%, 38%, 52%, 66%, 80%, 94%{background: radial-gradient(rgb(30, 183, 255),rgb(20, 183, 255), rgb(10, 183, 255), 
    rgb(0, 183, 255),rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), 
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255),
    rgb(30, 183, 255),rgb(20, 183, 255), rgb(10, 183, 255), 
    rgb(0, 183, 255),rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), 
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255),
    rgb(30, 183, 255),rgb(20, 183, 255), rgb(10, 183, 255), 
    rgb(0, 183, 255),rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), 
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255));}

9%, 23%, 37%, 51%, 65%, 79%, 93%{background: radial-gradient( rgb(40, 183, 255), rgb(30, 183, 255),rgb(20, 183, 255), 
    rgb(10, 183, 255),rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255),rgb(20, 183, 255), 
    rgb(10, 183, 255),rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255),rgb(20, 183, 255), 
    rgb(10, 183, 255),rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255));}

8%, 22%, 36%, 50%, 64%, 78%, 92%{background: radial-gradient(rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255),
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), 
    rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255),
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255),
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), 
    rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255),
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255),
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), 
    rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255));}

7%, 21%, 35%, 49%, 63%, 77%, 91%{background: radial-gradient(rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), 
    rgb(30, 183, 255),rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), 
    rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), 
    rgb(30, 183, 255),rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), 
    rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255),
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), 
    rgb(30, 183, 255),rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), 
    rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255));}

6%, 20%, 34%, 48%, 62%, 76%, 90%{background: radial-gradient(rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), 
    rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255),
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), 
    rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255),
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), 
    rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), 
    rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255), rgb(80, 183, 255));}

5%, 19%, 33%, 47%, 61%, 75%, 89%{background: radial-gradient(rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), 
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), 
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255),
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), 
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), 
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255),
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), 
    rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), 
    rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),rgb(90, 183, 255));}

4%, 18%, 32%, 46%, 60%, 74%, 88%{background: radial-gradient(rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), 
    rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255), 
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), 
    rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255),
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), 
    rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), 
    rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255));}

3%, 17%, 31%, 45%, 59%, 73%, 87%{background: radial-gradient(rgb(100, 183, 255), rgb(90, 183, 255), rgb(80, 183, 255), 
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), 
    rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255),
    rgb(100, 183, 255), rgb(90, 183, 255), rgb(80, 183, 255), 
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), 
    rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255),
    rgb(100, 183, 255), rgb(90, 183, 255), rgb(80, 183, 255), 
    rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), rgb(20, 183, 255), 
    rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255), rgb(110, 183, 255));}

2%, 16%, 30%, 44%, 58%, 72%, 86%{background: radial-gradient(rgb(110, 183, 255), rgb(100, 183, 255), rgb(90, 183, 255), 
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), 
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255),
    rgb(110, 183, 255), rgb(100, 183, 255), rgb(90, 183, 255), 
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), 
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255),
    rgb(110, 183, 255), rgb(100, 183, 255), rgb(90, 183, 255), 
    rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), rgb(30, 183, 255), 
    rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255), rgb(120, 183, 255));}

1%, 15%, 29%, 43%, 57%, 71%, 85%{background: radial-gradient(rgb(120, 183, 255), rgb(110, 183, 255), rgb(100, 183, 255), 
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), 
    rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255),rgb(120, 183, 255),
     rgb(110, 183, 255), rgb(100, 183, 255), 
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), 
    rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255),rgb(120, 183, 255),
     rgb(110, 183, 255), rgb(100, 183, 255), 
    rgb(90, 183, 255), rgb(80, 183, 255), rgb(70, 183, 255), rgb(60, 183, 255), rgb(50, 183, 255), rgb(40, 183, 255), 
    rgb(30, 183, 255), rgb(20, 183, 255), rgb(10, 183, 255), rgb(0, 183, 255), rgb(130, 183, 255));}
}