@charset "utf-8";
/*General*/
html{
    background: url("iceCube.png") repeat #3D82AB;
    background-size: cover;
    height: 193%;
    font-family: 'Signika', sans-serif;
}
body{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background: #37419A;
}
h1{
    margin: 0px;
    padding: 50px 0px 50px 0px;
    font-family: 'Questrial', sans-serif;
    color: black;
}
#title{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
#logo{
    height: 98px;
    width: 100px;
}
/*Banner*/
div#banner{
    text-align: center;
    font-size: 40pt;
    background: url("ice_banner.png") no-repeat;
    background-size: cover;
}
/*Top nav*/
#logo{
    height: 98px;
    width: 100px;
}
div.col-1-6{
    width: 16%;
}
.col-1-6{
    padding-top: 8px;
    float: left;
    width: 16.8%;
    text-align: center;
    font-size: 20pt;
}
.col-1-6#link{
    width: 16.8%;
    padding-bottom: 38px;
    padding-top: 43px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.col-1-6#link:hover{
    animation: shine 1.2s;
}
#nav{
    background-color: #EBD6EB;
}
/*Grid styling that isn't actually grid*/
div{
    display: block;
    box-sizing: border-box;
}
.row::after{
    clear: both;
    content: "";
    display: table;
}
div.row{
    clear: both;
}
/*Images*/
#title{
    font-size: 3em;
    text-align: center;
}
.col-1-5{
    float: left;
    width: 20%;
    text-align: center;
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 25px;
}
div#banner{
    text-align: center;
    font-size: 40pt;
    background: url("ice_banner.png") no-repeat;
    background-size: cover;
}
div#footer{
    text-align: center;
}
p{
    text-align: center;
    font-size: 30pt;
}

.col-1-5 a{
    color: white;
}
.col-1-5{
    color: white;
}
#sB{
    background: url("strawberry.png") no-repeat;
}
#tea{
    background: url("tealeaves.png") no-repeat;
}
#pW{
    background: url("watermelon_pina_colada_.png") no-repeat;
}
#bR{
    background: url("blue_rasp.jpg") no-repeat;
    color: white;
}
#lemon{
    background: url("lemons.png") no-repeat;
}
#lemon a{
    color: black;
}
#li{
    background: url("lime.png") no-repeat;
    color: black;
}
#co{
    background: url("coconut.png") no-repeat;
}
#pi{
    background: url("pineapple.png") no-repeat;
}
#hr{
    background: url("horchata.png") no-repeat;
    color: black;
}
#gA{
    background: url("greenA.png") no-repeat;
}

.col-1-3{
    float: left;
    width: 33%;
    text-align: center;
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 25px;
}
#info{
    background: radial-gradient(white, #84C0E9);
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    font-size: 18px;
    height: 500px;
}
#nutrients{
    background: #A9DFED;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    font-size: 18px;
    height: 500px;
}
#benefits{
    background: radial-gradient(white, #84C0E9);
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    font-size: 18px;
    height: 500px;
}
/*buttons*/
button#bStrawberry{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bTea{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bPinaColada{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bBlueRaspberry{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bLemon{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bLime{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bPineapple{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bCoconut{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bHorchata{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#bGreenApple{
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    color: black;
    width: 115px;
    height: 60px;
    margin: 10px;
    border-radius: 25px;
    border-color: black;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
button#b1{
    width: 90px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    color: black;
    font-size: 13px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    text-align: center;
    background: #EBD6EB;
}
button#b2{
    width: 90px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    color: black;
    font-size: 13px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    text-align: center;
    background: #EBD6EB;
}
button#b3{
    width: 90px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    color: black;
    font-size: 13px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    text-align: center;
    background: #EBD6EB;
}
button#b4{
    width: 90px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    color: black;
    font-size: 13px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    text-align: center;
    background: #EBD6EB;
}

h5{
    /*Blooming Blossoms*/
    color: #CCD3D9;
    color: #FED5D9 ;
    color: #7E212C;
    color: #9e0000;
}
h5{
    /*Terracotta Marble*/
    color: #D8B484;
    color: #B16B2F;
    color: #C76331;
    color: #9A2513;
}
h5{
    /*Vivid Overlays*/
    color: #A9DFED;
    color: #EBD6EB ;
    color: #84C0E9;
    color: #37419A;
}
h5{
    /*Northern Lights*/
    color: #91D4C2;
    color: #45BB89 ;
    color: #3D82AB;
    color: #003853;
}