@keyframes tea{
    14%, 28%, 42%, 56%, 70%, 84%, 98%{background: radial-gradient(rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0));}
    
    13%, 27%, 41%, 55%, 69%, 83%, 97%{background: radial-gradient(rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0),
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0),
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0));}
    
    12%, 26%, 40%, 54%, 68%, 82%, 96%{background: radial-gradient(rgb(255, 170, 0), rgb(255, 173, 0),rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0),
        rgb(255, 170, 0), rgb(255, 173, 0),rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0),
        rgb(255, 170, 0), rgb(255, 173, 0),rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0));}
    
    11%, 25%, 39%, 53%, 67%, 81%, 95%{background: radial-gradient(rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0));}
    
    10%, 24%, 38%, 52%, 66%, 80%, 94%{background: radial-gradient(rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0),
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0),
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0));}
    
    9%, 23%, 37%, 51%, 65%, 79%, 93%{background: radial-gradient( rgb(247, 161, 0), rgb(255, 164, 0),rgb(255, 167, 0), 
        rgb(255, 170, 0),rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0),rgb(255, 167, 0), 
        rgb(255, 170, 0),rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0),rgb(255, 167, 0), 
        rgb(255, 170, 0),rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0));}
    
    8%, 22%, 36%, 50%, 64%, 78%, 92%{background: radial-gradient(rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), 
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0),
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), 
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0),
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), 
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0));}
    
    7%, 21%, 35%, 49%, 63%, 77%, 91%{background: radial-gradient(rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5),
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5));}
    
    6%, 20%, 34%, 48%, 62%, 76%, 90%{background: radial-gradient(rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10),
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10),
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10));}
    
    5%, 19%, 33%, 47%, 61%, 75%, 89%{background: radial-gradient(rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), 
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15),
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), 
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15),
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), 
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15));}
    
    4%, 18%, 32%, 46%, 60%, 74%, 88%{background: radial-gradient(rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20));}
    
    3%, 17%, 31%, 45%, 59%, 73%, 87%{background: radial-gradient(rgb(187, 138, 20), rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), 
        rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20), rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), 
        rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20), rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), 
        rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25));}
    
    2%, 16%, 30%, 44%, 58%, 72%, 86%{background: radial-gradient(rgb(187, 135, 25), rgb(187, 138, 20), rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), 
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30),
        rgb(187, 135, 25), rgb(187, 138, 20), rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), 
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30),
        rgb(187, 135, 25), rgb(187, 138, 20), rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), 
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30));}
    
    1%, 15%, 29%, 43%, 57%, 71%, 85%{background: radial-gradient(rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255),rgb(177, 132, 30),
         rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255),rgb(177, 132, 30),
         rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255));}
    }

    
    @keyframes tea2{
    1%, 15%, 29%, 43%, 57%, 71%, 85%{background: radial-gradient(rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0));}

    2%, 16%, 30%, 44%, 58%, 72%, 86%{background: radial-gradient(rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0),
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0),
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0));}

    3%, 17%, 31%, 45%, 59%, 73%, 87%{background: radial-gradient(rgb(255, 170, 0), rgb(255, 173, 0),rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0),
        rgb(255, 170, 0), rgb(255, 173, 0),rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0),
        rgb(255, 170, 0), rgb(255, 173, 0),rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0));}

    4%, 18%, 32%, 46%, 60%, 74%, 88%{background: radial-gradient(rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0),
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0));}

    5%, 19%, 33%, 47%, 61%, 75%, 89%{background: radial-gradient(rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0),
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0),
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0),rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0));}

    6%, 20%, 34%, 48%, 62%, 76%, 90%{background: radial-gradient( rgb(247, 161, 0), rgb(255, 164, 0),rgb(255, 167, 0), 
        rgb(255, 170, 0),rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0),rgb(255, 167, 0), 
        rgb(255, 170, 0),rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0),rgb(255, 167, 0), 
        rgb(255, 170, 0),rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0));}

    7%, 21%, 35%, 49%, 63%, 77%, 91%{background: radial-gradient(rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), 
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0),
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), 
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0),
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0),
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), 
        rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0));}

    8%, 22%, 36%, 50%, 64%, 78%, 92%{background: radial-gradient(rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5),
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0),rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), 
        rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5));}

    9%, 23%, 37%, 51%, 65%, 79%, 93%{background: radial-gradient(rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10),
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10),
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), 
        rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), 
        rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15), rgb(207, 144, 10));}

    10%, 24%, 38%, 52%, 66%, 80%, 94%{background: radial-gradient(rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), 
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15),
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), 
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15),
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), 
        rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), 
        rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),rgb(197, 141, 15));}

    11%, 25%, 39%, 53%, 67%, 81%, 95%{background: radial-gradient(rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20),
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), 
        rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), 
        rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20));}
    12%, 26%, 40%, 54%, 68%, 82%, 96%{background: radial-gradient(rgb(187, 138, 20), rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), 
        rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20), rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), 
        rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25),
        rgb(187, 138, 20), rgb(197, 141, 15), rgb(207, 144, 10), 
        rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), rgb(255, 167, 0), 
        rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30), rgb(187, 135, 25));}
    13%, 27%, 41%, 55%, 69%, 83%, 97%{background: radial-gradient(rgb(187, 135, 25), rgb(187, 138, 20), rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), 
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30),
        rgb(187, 135, 25), rgb(187, 138, 20), rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), 
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30),
        rgb(187, 135, 25), rgb(187, 138, 20), rgb(197, 141, 15), 
        rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), rgb(255, 164, 0), 
        rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255), rgb(177, 132, 30));}
    14%, 28%, 42%, 56%, 70%, 84%, 98%{background: radial-gradient(rgb(177, 132, 30), rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255),rgb(177, 132, 30),
         rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255),rgb(177, 132, 30),
         rgb(187, 135, 25), rgb(187, 138, 20), 
        rgb(197, 141, 15), rgb(207, 144, 10), rgb(217, 147, 5), rgb(227, 150, 0), rgb(237, 158, 0), rgb(247, 161, 0), 
        rgb(255, 164, 0), rgb(255, 167, 0), rgb(255, 170, 0), rgb(255, 173, 0), rgb(255, 255, 255));}
    }
